body {
background-color: #32312B;
}

.loader {
    border: 16px solid #1E1E1C;
    border-top:16px solid #AE9F4B ;
    border-radius: 50%; 
    width: 100%;
    height: 100%;
    animation: spin 2s linear infinite;
    box-shadow: 0px 0px 15px #AE9F4B;
}
@keyframes spin{
    0%{
        transform:rotate(0deg);
    }
    50%{
        background-color: #1E1E1C;
    }
    100%{
        transform:rotate(360deg);
    }
}